<%= form_with class: 'tj-form' ,model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :commenter %>
    <% @article.errors.full_messages_for(:commenter).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>
  <p>
    <%= form.label :message %><br>
    <%= form.text_area :body , class: 'tj-input-2'%>
    <% @article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>

<!--
**Commenting out this status selector.  This was part of the tutorial but I don't want to use this feature for now.**
  <p>
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </p>
-->

  <p>
    <%= form.submit class: 'tj-button-no-border' %>
  </p>
<% end %>
