<%= form_with class: 'tj-form' , model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :text %><br>
    <%= form.text_area :text, class: 'tj-input-1' %><br>
    <% article.errors.full_messages_for(:text).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

<!--
**Commenting out this status selector.  This was part of the tutorial but I don't want to use this feature for now.**


<div>
  <%= form.label :status %><br>
  <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
</div>
-->
  <br>
  <div>
    <%= form.submit class: 'tj-button-no-border'%>
  </div>
<% end %>
