<div class="header">
    <div class="home-menu tj-menu tj-menu-horizontal tj-menu-fixed">
        <a class="tj-menu-heading" href="">Blog App</a>

        <ul class="tj-menu-list">
            <li class="tj-menu-item"><%= link_to 'Home', root_path, class: 'tj-menu-link' %></li>
            <li class="tj-menu-item"><a href="#articlesgohere" class="tj-menu-link">Articles</a></li>
            <li class="tj-menu-item"><%= link_to 'New article', new_article_path, class: 'tj-menu-link' %></li>
        </ul>
    </div>
</div>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<%= link_to 'Back', articles_path %>
<%= link_to "Edit", edit_article_path(@article), data: {
                    turbo_method: :edit,
                    turbo_confirm: "In order to edit an article, please contact the administrator"
                  } %>
<%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "In order to delete an article, please contact the administrator"
                  } %>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form'%>