<%= render "header" %>
  <br><br>
<div class="show-content-wrapper">
  <div class="tj-g content">
    
    <!--Content box-->
    <div class="tj-u-lg-1-4"></div>
    <div class="tj-u-lg-1-2 tj-u-1 l-box">
      <div class="t-box">
        <h3 class="content-subhead">
          <b><%= @article.title %></b>
        </h3>
        <div>
          <%= @article.text %>
          <br><br>
        </div>
        <div class="right-align">
        <%= link_to image_tag('pencil.svg', :class => 'svgimg'), edit_article_path(@article), data: {
                    turbo_method: :edit,
                    turbo_confirm: "In order to edit an article, please contact the administrator"
                  } %>
        <%= link_to image_tag('delete.svg'), article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "In order to delete an article, please contact the administrator"
                  } %>
        </div>

      </div>
    </div>
    <div class="tj-u-lg-1-4"></div>

    <!--Add Comments box-->
    <div class="tj-u-lg-1-4"></div>
    <div class="tj-u-lg-1-2 tj-u-1 l-box">
      <div class="t-box">
        <h3 class="content-subhead">
          <b>Add a Comment</b>
        </h3>
        <div>
          <%= render 'comments/form' %>
        </div>
      </div>
    </div>
    <div class="tj-u-lg-1-4"></div>

    <!--Comments box-->
    <div class="tj-u-lg-1-4"></div>
    <div class="tj-u-lg-1-2 tj-u-1 l-box">
      <div class="t-box">
        <h3 class="content-subhead">
          <b>Previous Comments</b>
        </h3>
        <div>
        <% @article.comments.reverse_each do |comment| %>
          <p>
            <strong><%= comment.commenter %></strong>
            
          </p>
          <p>
            <div class="tj-g">
              <div class="tj-u-5-6">
                <%= comment.body %>
              </div>
              <div class="tj-u-1-6 right-align">
                <%= link_to image_tag('delete.svg'), [comment.article, comment], data: {
                      turbo_method: :delete,
                      turbo_confirm: "In order to delete comment, please contact the administrator"
                    } %>
              </div>
            </div>
          </p>
        <% end %>

        <%#= render @article.comments %>
        </div>
      </div>
    </div>
    <div class="tj-u-lg-1-4"></div>
  </div>
  <%= render "footer" %>
</div>  