<%= render "header" %>
  <br><br>
<div class="show-content-wrapper">
  <div class="tj-g content">
    
    <!--Content box-->
    <div class="tj-u-lg-1-4"></div>
    <div class="tj-u-lg-1-2 tj-u-1 l-box">
      <div class="t-box">
        <h3 class="content-subhead">
          <b><%= @article.title %></b>
        </h3>
        <div>
          <%= @article.text %>
          <br><br>
        </div>
        <div class="right-align">
        <%= link_to image_tag('pencil.svg', :class => 'svgimg'), edit_article_path(@article), data: {
                    turbo_method: :edit,
                    turbo_confirm: "In order to edit an article, please contact the administrator"
                  } %>
        <%= link_to image_tag('delete.svg'), article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "In order to delete an article, please contact the administrator"
                  } %>
        </div>

      </div>
    </div>
    <div class="tj-u-lg-1-4"></div>

    <!--Add Comments box-->
    <div class="tj-u-lg-1-4"></div>
    <div class="tj-u-lg-1-2 tj-u-1 l-box">
      <div class="t-box">
        <h3 class="content-subhead">
          <b>Add a Comment</b>
        </h3>
        <div>
          <%= render 'comments/form' %>
        </div>
      </div>
    </div>
    <div class="tj-u-lg-1-4"></div>

    <!--Comments box-->
    <div class="tj-u-lg-1-4"></div>
    <div class="tj-u-lg-1-2 tj-u-1 l-box">
      <div class="t-box">
        <h3 class="content-subhead">
          <b>Comments</b>
        </h3>
        <div>
          <%= render @article.comments %>
        </div>
      </div>
    </div>
    <div class="tj-u-lg-1-4"></div>

  </div>
</div>  


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h1>OLD SHIT THAT IS GETTING REFORMATTED</h1>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<%= link_to 'Back', articles_path %>
<%= link_to "Edit", edit_article_path(@article), data: {
                    turbo_method: :edit,
                    turbo_confirm: "In order to edit an article, please contact the administrator"
                  } %>
<%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "In order to delete an article, please contact the administrator"
                  } %>




<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form'%>

<%= render "footer" %>